/* utility styles */
.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

/* element styles */
html, body {
  box-sizing: border-box;
  color: #505050;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
}

/* whole page container */
.container {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

div#landing {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	opacity: 1;
	width: 100%;
	height: 100%;
	background: url('../imgs/white.png')  repeat fixed center;
  transition: all 0.5s;
  visibility: hidden;
}

div#landing_content {
	position: relative;
	width: 60vw;
	margin: 15vh auto;
	font-family: "Work Sans", sans-serif;
	font-weight: 300;
}

#landing_text a:hover, .offcanvas a:focus{
    color: #a1a1a1;
	text-decoration:none;
}

#landing_text a:link, a:visited {
	color: #418FDE;
	text-decoration: none;
}

#landing_text {
	padding: 2ex 2em;
	opacity: 0.9;
	background: #2C2A29;
	color: white;
}

#landing_content .button {
	border: 2px #41B6E6;
	color:white;
	background:#418FDE;
	padding:6px 12px;
	font-weight: 500;
}

/* the map */
#map {
  flex: 1 1 auto;
}

/*This formatting is for the  name of the fields in the pop-up*/
span.varname{
	font-family: "Work Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	color: #363535;
}

/*This is formatting for the text that follows the label*/
span.attribute {
	font-family: "Work Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: #5b5b5b;
	margin-top: 0;
    margin-bottom: 0;
}

.attribute a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
	font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    color: #418FDE;
    transition: 0.3s
}

/*This changes the size of the image in the popup*/
img {
	max-height:  100%;
	max-width:  100%;
}

.mapboxgl-popup-content {
	max-width: 300px;
	max-height: 400px;
	overflow-y: auto;
}

select {
  border: 1px solid #ccc;
	overflow: hidden;
  padding: 5px;
  margin: 8px auto;
  width: 100%;
  font-family: "Work Sans", helvetica, arial, sans-serif;
}

.zoom {
	background-color: #ffffff;
	opacity:.8;
	border: 1px solid #989797;
	width: 225px;
	text-align: left;
	padding: 10px;
    position: fixed;
	z-index : 1;
    left: 0;
	bottom: 0;
	font-family: "Work Sans", helvetica, arial, sans-serif;
	font-weight: normal;
	color: #363635;
	text-decoration: none;
	margin-right: 10px;
	margin-bottom: 20px;
	overflow: hidden; /*planning ahead to clear floats*/
}

.legend, .stats {
	background-color: rgba(255, 255, 255, 0.7);
	font-weight: normal;
	text-decoration: none;
	overflow: hidden; /*planning ahead to clear floats*/
	font-family: "Work Sans", helvetica, arial, sans-serif;
	text-align: left;
}

.legend {
	padding: 10px;
	z-index: 1;
	font-family: "Work Sans", helvetica, arial, sans-serif;
	margin: 10px auto;
}

.stats {
	opacity: 0;
	transition: opacity 1.5s;
	-webkit-transition: opacity 1.5s;
	padding: 10px;
	padding-right: 0px;
  position: fixed;
	z-index : 10;
  right: 0;
	bottom: 10;
	margin-right: 10px;
	margin-top: 10px;
	min-width: 225px;
/*	margin-bottom: 20px; */
}

.stats-title {
	position:relative;
	bottom:0;
	right:0;
  text-align: left;
  margin-bottom: 5px;
	font-family: "Work Sans", helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 90%;
  color: #2C2A29;
}
.stats .stats-scale ul {
   margin: 0;
   margin-bottom: 5px;
   padding: 0;
   float: left;
   list-style: none;
}
  .stats .stats-scale ul li {
    font-size: 75%;
    list-style: none;
    margin-left: 0;
    line-height: 22px;
    margin-bottom: 2px;
    }
  .stats ul.stats-labels li span {
    display: block;
    float: right;
    height: 14px;
    width: 24px;
    margin-right: 0px;
    margin-left: 10px;
    border: 0px solid #999;
    }

ul{
	list-style-type:none;
	font-size:
}

/* left sidebar / console */
#console {
  background-color: #FFF;
  box-shadow: #999 5px 0 5px -2px;
  display: flex;
  flex-direction: column;
  flex: 0 0 275px;
  margin: 0px;
  overflow-y: auto;
  z-index: 0;
}

.console-content {
  background-color: white;
  border-bottom: 2px solid #ccc;
  flex: 1 0 auto;
  margin: 0px;
  padding: 10px 20px;
}

.logo-container {
  border: none;
  padding: 0;
}

.style-logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: block;
}

.logo-dark {
  background-color: #505050;
}

.footer {
  flex: 0 0 auto;
}

.header {
  color: #3D3935;
  font-family: "Work Sans",Arial,Sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.header-dropdown {
  color: #000;
  font-family: "Work Sans",Arial,Sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px,0px,10px,0px
}

p.header-explore {
  color: #000;
  text-align: center;
  font-family: "Work Sans",Arial,Sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 19.2px,0px,0px;
  padding: 10px,0px,10px,0px
}

.legend-title {
  margin-bottom: 5px;
	font-family: "Work Sans", helvetica, arial, sans-serif;
  font-weight: 700;
	color:#2C2A29;
  font-size: 90%;
	padding-bottom: 10px;
}

.legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  font-family: "Work Sans", helvetica, arial, sans-serif;
  font-weight: 500;
  padding: 0;
  list-style: none;
  }
.legend .legend-scale ul li {
  display: flex;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 10px;
  }
.legend ul.legend-labels li span {
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  height: 14px;
  width: 28px;
  margin-right: 5px;
  margin-left: 0px;
  margin-top: 3px;
}
.legend ul.legend-labels li ul { /* to indent nested lists in the legend */
	margin-left: 1em;
}

.inactive {
	opacity: 0.2;
}

#raising_blended_learners
{
	background-image :url(../markers/raising_blended_learners_eye_2023.svg);
}

#raising_blended_learners_campuses
{
	background-image :url(../markers/raising_blended_learners_eye_2023.svg);
}

#charles_butt_scholars
{
	background-image :url(../markers/charles_butt_scholars_eye_2023.svg);
}

#raising_texas_teachers
{
	background-image :url(../markers/raising_texas_teachers_eye_2023.svg);
}

#raising_school_leaders
{
	background-image :url(../markers/raising_school_leaders_eye_2023.svg);
}

#districts_of_innovation
{
	background-image :url(../markers/districts_of_innovation.svg);
}
#districts_of_innovation_poly
{
	background-image :url(../markers/districts_of_innovation_poly.svg);
}
#texas_school_districts
{
	background-image :url(../markers/texas_school_districts.svg);
}
#state_house_districts
{
	background-image :url(../markers/state_house_districts.svg);
}
#state_senate_districts
{
	background-image :url(../markers/state_senate_districts.svg);
}
#state_school_districts
{
	background-image :url(../markers/state_school_districts.svg);
}
#esc_regions
{
	background-image :url(../markers/esc_regions.svg);
}
#alumni_markers
{
	background-image :url(../markers/alumni.svg);
}
#active_markers
{
	background-image :url(../markers/active.svg);
}

#texas_icon
{
	background-image :url(../images/texas.svg);
	width:26px;
	height:22px;
  display: inline-block;
  vertical-align: top;
}

  .legend .legend-source {
    font-size: 90%;
    font-family: "Work Sans", helvetica, arial, sans-serif;
	color: #999;
    clear: both;
    }

  .legend .map-credit {
    font-size: 90%;
    font-family: "Work Sans", helvetica, arial, sans-serif;
	font-weight: normal;
    color: #999;
    clear: both;
    }

  .legend a {
    color: #777;
    }

	a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* This code makes the sidenav 'always on' */
.sidenav {
  height: 100%;
  width: 240px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffff;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Use this code to make  the 'Zoom to Districts' pop-out  collapse
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffff;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 60px;*/
}*/

/*.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    display: block;
    transition: 0.3s
}*/

p.navtitle {
    padding: 20px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
	font-weight: bold;
    color: #b1d4cb;
    display: block;
    transition: 0.3s
}

img  {
background-color: transparent;
border: none;
}

p.moreinfo  {
  padding: 32px 24px 0px 16px;
  background: #ffff;
  color:#4a4a4a;
  font-family: 'Work Sans', sans-serif;
  font-size:14px;
 /* width:auto !important;*/
}

/* I'm starting this as a copy of .moreinfo, with just the top & bottom padding removed */
p.districtswitcher, p.zoomoutlink  {
  padding: 0px 8px 0px 32px;
  background: #ffff;
  color:#4a4a4a;
  font-family: 'Work Sans', sans-serif;
  font-weight:500;
  font-size:14px;
 /* width:auto !important;*/
}

p.districtswitcher  {
	display: none; /* leave this as display:none because the code in the page will make the right control visible */
}

p.zoomoutlink {
	display: block;
}

/* some text that just needs to be hidden by default so the code can activate the context-appropriate option */
span#house-district-reference, span#senate-district-reference, span#school-district-reference {
	display: none;
}

p.programs  {
  padding: 8px 8px 8px 32px;
  background: #ffff;
  color:#4a4a4a;
  font-family: 'Work Sans', sans-serif;
  font-size:10px;
 /* width:auto !important;*/
}

 .sidenav .programlink {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
	font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    color: #418FDE;
    transition: 0.3s
}

.sidenav img {
	width: 240px;
	padding: 0px 30px;
}

.sidenav p.moreinfo img {
	padding: 0px;
}

 .content .programlink {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
	font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    color: #418FDE;
    transition: 0.3s
}

.sidenav .svg_old {

}

.sidenav a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
	font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #418FDE;
    transition: 0.3s
}

.content a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
	font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #418FDE;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #a1a1a1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 28px;
    margin-left: 50px;
}

#about {
	/*transition: margin-left .5s;
    padding: 16px;*/
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	color: #ffff;
	filter: alpha(opacity = 0);
    position:fixed;
	padding:5px 10px 5px 10px;
	left:20px;
	top:20px;
    display:block;
    z-index:2;
    background:#418FDE;
	overflow: auto;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #949494;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fffff;
}

button.collapsible  {
  padding: 8px 8px 8px 32px;
  background: #ffff;
  color:#F15C22;
  font-family: 'Work Sans', sans-serif;
  font-size:12px;
 /* width:auto !important;*/
  }

/*Styling for hr in pop-ups*/

hr.divider {
  border-top: 1px dotted #bdbfc1;
}



/* time slider controls */

input#slider {
	height: 16px;
	width: 85%;
}

div#sliderbar {
	text-align: center;
	padding-top: 12px;
}

div#slidercontrols{
	text-align: center;
	clear: both;
	padding-bottom: 24px;
}


div#slidercontrols img {
	width: 2em;
	padding: 0px;
}

div#slidercontrols span, div#sliderbar input {
	cursor: pointer;
}

span#slider_play, span#slider_stop {
	margin: 0 1em;
	width: 10%;
}

span#slider_stop {
	display: none;
}

.no-scroll {
  overflow: hidden;
}

.version-text {
  font-size: 70%;
  color: #999;
  clear: both;
}

.version-text {
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  font-size: 9px;
  color: #505050;
}

.map-credit {
  font-size: 13px;
}
